
<div class="container">

  

<div style="margin-top: 5rem;">

    <div class="row">
        <div class="col-4"></div>
        <div class="col-4"><h2>{{title}}</h2></div>
        <div class="col-4"></div>
        
    </div>
      <br>

    <div class="row">
        <div class="col-8">
            <div class="row">
                <div class="col-6">
                  <div class="form-group">
                    <label for="user">User Name</label>
                    <input type="text" class="form-control" id="user" name="user" [(ngModel)]="userName" placeholder="Please Enter User Name">
                    <span *ngIf="validationObj" style="color: red">Please enter a unique name</span>
                  </div>
                  
                </div>
                <div class="col-2"></div>
                <div class="col-4" style="padding-top: 32px">
                    <button type="button" class="btn btn-primary" (click)="addUserName()">Add me</button>
                </div>
              </div>
            
              <br>
            
              <div *ngIf="currentName != ''">  User : {{currentName}}  </div>
            
              <br>
            
              <div>
                <div>
            
                  <table>
                    <td *ngFor="let seatRow of seatMap; let i=index">
                      <tr *ngFor="let col of seatRow; let j = index;">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="{{col.field}}" #cols (click)="checkboxClicked(col.field,cols)" >
                            <label class="custom-control-label" for="{{col.field}}"></label>
                        </div>
                      </tr>
                    </td>
                  </table>
            
                  <br>
            
                  <div class="row">
                    <div class="col-8"></div>
                    <div class="col-4">
                      <div >
                          <button type="button" class="btn btn-primary" (click)="submitFunction()">Submit</button>  
                      </div>
                    </div>
                  </div>
            
                </div>
              </div>
        </div>
        <div class="col-4">
            <div>
                <h3> Users List</h3>
                <app-users [list]="listOfUsers" ></app-users>
              </div>
        </div>
      </div>

  
  



  

</div>
</div>

<router-outlet></router-outlet>
